### Lists in Python

    sequential collection of objects 
    
    mutable data type

In [1]:
s = "hello world!"
# immutable
us = s.upper()
ls = s.lower()
ss = s.split()

print(s)
print(us)
print(ls)
print(ss)

hello world!
HELLO WORLD!
hello world!
['hello', 'world!']

In [2]:
print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [4]:
help(s.title)

Help on built-in function title:

title() method of builtins.str instance
    Return a version of the string where each word is titlecased.

    More specifically, words start with uppercased characters and all remaining
    cased characters have lower case.

In [6]:
s = "hEY! pyTHon is AN aweSOmE laNGuAge."

In [7]:
ts = s.title()
print(ts)

Hey! Python Is An Awesome Language.

#### string formatting

    if we want build a string by replacing varibles in it

In [8]:
result = """
    x = ?
    y = ?
    
    x + y = ?
"""

In [17]:
# old way formatting


x = int(input("X: "))
y = int(input("Y: "))

r = x / y

result = """
    x = %d
    y = %d
    
    %d / %d = `%-10.2f`"""%(x, y, x, y, r)

print(result)

X: 33
Y: 7

    x = 33
    y = 7

    33 / 7 = `4.71      `

In [16]:
# old way formatting

result = """
    x = %d
    y = %d
    
    %d / %d = `%-10.2f`
"""
x = int(input("X: "))
y = int(input("Y: "))

r = x / y


print(result%(x, y, x, y, r))

X: 22
Y: 7

    x = 22
    y = 7

    22 / 7 = `3.14      `

    pre -> define variables first and define template string afterwards (f-string)

    post -> we can define template fist and whenever we got our data (variables) we can fill string (format)

    :< -> left justification      str.ljust(width)
    :> -> right justification     str.rjust(width)
    :^ -> center justification    str.center(width)

In [28]:
name = "sachin yadav"

print(name.center(80, "_"))

__________________________________sachin yadav__________________________________

In [24]:
name = "       sachin yadav         "
x = 22
y = 7

result = f"""
Hello {name.strip().title()}

    x = {x}
    y = {y}
    
    {x} / {y} = `{x/y:^10.2f}`

"""

print(result) #

Hello Sachin Yadav

    x = 22
    y = 7

    22 / 7 = `   3.14   `

In [42]:
var = 1
while var <= 1024:
    var = str(var)
    print(f"{var.zfill(4)} * {var.zfill(4)} = {var.zfill(7)}")
    var = int(var)
    var *= 2

0001 * 0001 = 0000001
0002 * 0002 = 0000002
0004 * 0004 = 0000004
0008 * 0008 = 0000008
0016 * 0016 = 0000016
0032 * 0032 = 0000032
0064 * 0064 = 0000064
0128 * 0128 = 0000128
0256 * 0256 = 0000256
0512 * 0512 = 0000512
1024 * 1024 = 0001024

In [40]:
var = 1
while var <= 1024:
    print(f"{var:>5} *{var:>5} = {var*var:>7}")
    var *= 2

    1 *    1 =       1
    2 *    2 =       4
    4 *    4 =      16
    8 *    8 =      64
   16 *   16 =     256
   32 *   32 =    1024
   64 *   64 =    4096
  128 *  128 =   16384
  256 *  256 =   65536
  512 *  512 =  262144
 1024 * 1024 = 1048576

In [43]:
"*"*3

'***'

In [45]:
"ram "*5

'ram ram ram ram ram '

In [47]:
i = 1
while i <= 10:
    s = "*"*i
    print(s)
    i += 1 
# output ?

*
**
***
****
*****
******
*******
********
*********
**********

In [48]:
i = 1
while i <= 10:
    s = "*"*i
    print(s.rjust(10))
    i += 1 
# output ?

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [51]:
i = 1
while i<=21:
    s = "*"*i
    print(s.center(21))
    i += 2

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************
*********************

In [52]:
i = 1
while i<=21:
    s = "*"*i
    print(s.center(21, "-"))
    i += 2

----------*----------
---------***---------
--------*****--------
-------*******-------
------*********------
-----***********-----
----*************----
---***************---
--*****************--
-*******************-
*********************

In [56]:
i = 1
while i<=21:
    s = "*"*i
    print(f"{s:-^21}")
    i += 2

----------*----------
---------***---------
--------*****--------
-------*******-------
------*********------
-----***********-----
----*************----
---***************---
--*****************--
-*******************-
*********************

    {} => place holder

In [58]:
result = """
    x = {}
    y = {}
    {} + {} = {:.2f}
"""


x = 22
y = 7
r = x/y

print(result.format(x, y, x, y, r))

    x = 22
    y = 7
    22 + 7 = 3.14

In [59]:
result = """
    x = {a}
    y = {b}
    {a} + {b} = {c:.2f}
"""
x = 22
y = 7
r = x/y

print(result.format(a=x, b=y, c=r))

    x = 22
    y = 7
    22 + 7 = 3.14

In [60]:
result = """
    x = {0}
    y = {1}
    {0} + {1} = {2:.2f}
"""
x = 22
y = 7
r = x/y

print(result.format(x, y, r))
#                   0  1  2

    x = 22
    y = 7
    22 + 7 = 3.14

### List
    
    mutable data
    
    sequential collection of object 
    
    ordered

In [62]:
data = ["sachin yadav", 27, "india", 20000, ["hindi", "english"]]
#           0            1     2       3            4

In [64]:
# ? how to print only english out of the given data ? 
print(data)

['sachin yadav', 27, 'india', 20000, ['hindi', 'english']]

    data[4] --> ["hindi", "english"]
                    0         1

In [66]:
print(data[4][1])

english

In [68]:
names = ["hari", "manish", "ramjan", "krishna", "jhon", "natasha"]
names.sort()
print(names)

['hari', 'jhon', 'krishna', 'manish', 'natasha', 'ramjan']

In [67]:
lst = [ 1, 2, 3, 'hi', 'can', 'not', 'sort', 'this', 'list']
lst.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [69]:
nums = [ 1, 4, 23, 2,4 ,5, 6, ]
nums.sort(reverse=True)
print(nums)

[23, 6, 5, 4, 4, 2, 1]

In [72]:
data = [ 1, 2, 3, 1, 32, 4, 5, 2, 1, 2, 45, 5, 6, 2, 3, 4, 5, 1, 4, ]

var = int(input("item: "))
count = data.count(var)


print(data)

print(f"{var} is {count} times there in list.")

item: 5
[1, 2, 3, 1, 32, 4, 5, 2, 1, 2, 45, 5, 6, 2, 3, 4, 5, 1, 4]
5 is 3 times there in list.

    collection
    
        we add new elements to the collection
        
            list.append(item) -> to add single item at the end of list
            list.insert(index, item) -> to add item at specific index
            list.extend(sublist) -> to add each item from sublist to main list sequentially
            
        we can remove elements of the collection
        
            list.pop() -> to just delete and return last element from list
            list.pop(index) -> to just delete and return element from index
            list.remove(item) -> search and delete first occurence of item from list
        
        we can rearrange elements in the collection
        
            list.sort() -> to rearrange homogenous list in ascending order
            list.sort(reverse=True) -> to rearrange homogenous list in descending order
            list.clear() -> to delete all elements and create empty list
            
        utility methods 
        
            list.count(item) -> returns occurence of item in list
            list.index(item) -> returns first index of item from list
            list.copy() -> it creates a shallow copy of list

    old ==> nums ==> same object ==> same id ==> mangu and mangilaal 
    
    x = y that's not how we copy data in python
    
    
    x = y.copy() yeah this is the way to copy something in python
    
    import copy
    
    x = copy.deepcopy(y) if you want to create entire seprate copy

**deep copy vs shallow copy ?**

In [73]:
nums = []

nums.append(10) # nums = [ 10 ]
nums.extend([40, 20, 60]) # nums = [ 10, 40, 20, 60]
nums.sort() # nums = [ 10, 20, 40, 60]
nums.insert(2, 100) # [ 10, 20, 100, 40, 60]
nums.pop() # nums = [10, 20, 100, 40]

print(nums) # first output ? [10, 20, 100, 40]

old = nums # old, nums ===> [10, 20, 100, 40]

nums.clear() # old, nums ===> []

print(nums) # second output ?  []
print(old) # third output ?  []

[10, 20, 100, 40]
[]
[]

In [74]:
nums = []

nums.append(10) # nums = [ 10 ]
nums.extend([40, 20, 60]) # nums = [ 10, 40, 20, 60]
nums.sort() # nums = [ 10, 20, 40, 60]
nums.insert(2, 100) # [ 10, 20, 100, 40, 60]
nums.pop() # nums = [10, 20, 100, 40]

print(nums) # first output ? [10, 20, 100, 40]

old = nums.copy() # shallow copy

nums.clear() # old, nums ===> []

print(nums) # second output ?  []
print(old) # third output ?  []

[10, 20, 100, 40]
[]
[10, 20, 100, 40]

            mapping 
            
                      process
                        |
                        |
        input ----> function ----> output
        
        1     ----> hindi map ---> ek
        2     ----> hindi map ---> dou
        3     ----> hindi map ---> teen

    arr, list -> sequential 
    
    
        [ item-1, item-2, item-3, ...., ]
        
            0,     1,        2

    key ---> address ---> value
    
    name --> map ---> sachin
    age  --> map ---> 27

#### Dictionaries 

    hash map type of object
    
    collection of key-value pairs 
    
    unordered / non-sequential data 
    
    mutable
    
    JSON -> JavaScript Object Notation

In [76]:
data = [ "python", "guido van rossum", "www.python.org", 1994, "programming language"]
#          0             1                   2             3               4

In [77]:
data = {
    "name": "python",
    "father": "guido van rossum",
    "website": "www.python.org",
    "year": 1994,
    "type": "programming language"
}

In [83]:
key = "father"
value = data[key]
print(value)

guido van rossum

In [84]:
print(data)

{'name': 'python', 'father': 'guido van rossum', 'website': 'www.python.org', 'year': 1994, 'type': 'programming language'}

In [85]:
data["current version"] = "3.11"
# add new key-value pair to existing dictionary
data["website"] = "python.org"
# replace 
del data["type"]

In [86]:
print(data)

{'name': 'python', 'father': 'guido van rossum', 'website': 'python.org', 'year': 1994, 'current version': '3.11'}

#### Dictionary
#### python really quick if-else, for loop, function, oops ?