data structures in python - int, float, string, list, dictionary, tuple, set, frozenset

operators 

if-else

loop

function

oops

exception handling

modules

### Data Structures in Python

Numbers

    int
    float
    complex
    
        mathematical operations on numbers

In [1]:
x = 12345
print(x, type(x))

12345 <class 'int'>

In [2]:
x = 56
y = 5.6

print(x+y)
print(x-y)
print(x*y)

61.6
50.4
313.59999999999997

#### division operator


    /   - true division   --> float value 
    
    //  - floor division   --> integer value (int division)

In [5]:
x = 22
y = 7

r1 = x / y
print(r1)
print(int(x/y)) # floor -> integer value less than actual value
# floor value of 3.9 is 3 and floor value 4.1 is also 4

r2 = x // y
print(r2)

3.142857142857143
3
3

**  - exponent operator / power oprator

$2^8 = 2**8$

In [6]:
value = 2 ** 8
print(value)

256

In [7]:
value = 169 ** (1/2)
print(value)

13.0

In [8]:
value = 343 ** (1/3)
print(value)

6.999999999999999

In [9]:
c = 3*10**8
print(c)

300000000

In [10]:
c = 3e8
print(c)

300000000.0

In [11]:
c = 3e-2 # 3*10**(-2)
print(c)

0.03

    0xDDDD -> hexadecimal --> Decimal
    0bDDDD -> binary --> Decimal
    0oDDDD -> octal --> Decimal

In [12]:
x = 0xff
print(x)

255

In [13]:
x = 0b1011
print(x) # ?

11

In [14]:
ans = 33 % 9 # % modulas operator returns remainder value
print(ans) # 6

6

In [15]:
ans = 1 % 2
print(ans) #

1

In [16]:
ans = 5 % 17
print(ans) # 5     small % big --> small

5

    +, -, *, /, %, **

#### Strings

In [17]:
s = "Hello World!"
print(s, type(s))

Hello World! <class 'str'>

In [18]:
s = 'he said, "she is beautiful"'
print(s)

he said, "she is beautiful"

In [19]:
s = """
To 
    The headmaster
    _______________
    
Dear sir/ma'am
    Due to some ___ I am unable to come to school for ___ days.
    please grant me leave for ___ days.
    
    Thanks
Your Student
___________
    """

In [20]:
print(s)

To
    The headmaster
    _______________

Dear sir/ma'am
    Due to some ___ I am unable to come to school for ___ days.
    please grant me leave for ___ days.

    Thanks
Your Student
___________

In [22]:
# template
app = """
To 
    The headmaster
    {}
    
Dear sir/ma'am
    Due to some {} I am unable to come to school for {} days.
    please grant me leave for {} days.
    
    Thanks
Your Student
{}
"""

In [23]:
name = input("Enter your name: ").strip().title()
school = input("School Name: ").strip().title()
days = int(input("no of days: "))
reason = input("reason: ").strip().lower()

result = app.format(school, reason, days, days, name)
print(result)

Enter your name: Sachin Yadav
School Name: Grras Solutions
no of days: 3
reason: High Fever

To
    The headmaster
    Grras Solutions

Dear sir/ma'am
    Due to some high fever I am unable to come to school for 3 days.
    please grant me leave for 3 days.

    Thanks
Your Student
Sachin Yadav

In [24]:
s = 'a string "double quotes" inside string \'okay single character\''

In [25]:
print(s)

a string "double quotes" inside string 'okay single character'

In [27]:
s = "hello world!, \"this is awesome\""
print(s)

hello world!, "this is awesome"

In [29]:
print("\\")

\

 \ -> escape character
 
     \", \', \\ --> to inculde \, ', " inside a string
     
     \n -> new line
     \t -> tab
     \u -> unicode characters

In [41]:
print("Hello\n\t\tWorld!")

Hello
		World!

In [31]:
print("\u20B9 rupees symbol in utf-8")

₹ rupees symbol in utf-8

In [40]:
print("\uFF2F \u0920 \u03C0")

Ｏ ठ π

In [42]:
name = "Rahul"
age = 45
city = "Delhi"
salary = 50000.0

# List

    collection of items

In [43]:
names = ["java", "c", "ruby", "go", "perl", "c++"]
print(names, type(names))

['java', 'c', 'ruby', 'go', 'perl', 'c++'] <class 'list'>

In [44]:
data = [
    ["Rahul", 45, "Delhi", 50000.0],
    ["Seema", 30, "Jaipur", 40000.0],
]

In [45]:
names = ["java", "c", "ruby", "go", "perl", "c++"]
print(names, type(names))

['java', 'c', 'ruby', 'go', 'perl', 'c++'] <class 'list'>

In [46]:
names.append("python")

In [47]:
print(names)

['java', 'c', 'ruby', 'go', 'perl', 'c++', 'python']

In [48]:
names.insert(2, "bash")
print(names)

['java', 'c', 'bash', 'ruby', 'go', 'perl', 'c++', 'python']

In [50]:
names[3] = "juila"

In [51]:
print(names)

['java', 'c', 'bash', 'juila', 'go', 'perl', 'c++', 'python']

In [52]:
item = names.pop()
print(names)

['java', 'c', 'bash', 'juila', 'go', 'perl', 'c++']

In [53]:
x = []
x.pop() # ? 
print(x)

IndexError: pop from empty list

In [54]:
names

['java', 'c', 'bash', 'juila', 'go', 'perl', 'c++']

In [55]:
names.sort()

In [56]:
print(names)

['bash', 'c', 'c++', 'go', 'java', 'juila', 'perl']

#### Dictionary 
    
    hash map object
    
    dictionary is kind representation of an object in computer 
    
    mutable 
    
    unordered

In [60]:
nano = {
    "company": "Tata",
    "model": "nano",
    "engine CC": 1000,
    "width": 2500,
    "length": 4000,
    "weight": 2000,
    "top speed": 80,
    "fuel type": ["petorl"]
}

In [61]:
harrier = {
    "company": "Tata",
    "model": "Harrier",
    "engine CC": 2000,
    "enginer type": "turbo",
    "fuel type": ["disel"],
    "width": 3500,
    "length": 5000,
    "weight": 3500,
    "top speed": 140
}

In [63]:
from pprint import pprint

In [64]:
pprint(nano)

{'company': 'Tata',
 'engine CC': 1000,
 'fuel type': ['petorl'],
 'length': 4000,
 'model': 'nano',
 'top speed': 80,
 'weight': 2000,
 'width': 2500}

In [65]:
pprint(harrier)

{'company': 'Tata',
 'engine CC': 2000,
 'enginer type': 'turbo',
 'fuel type': ['disel'],
 'length': 5000,
 'model': 'Harrier',
 'top speed': 140,
 'weight': 3500,
 'width': 3500}

In [66]:
nano

{'company': 'Tata',
 'model': 'nano',
 'engine CC': 1000,
 'width': 2500,
 'length': 4000,
 'weight': 2000,
 'top speed': 80,
 'fuel type': ['petorl']}

In [70]:
print(nano["model"], nano["engine CC"], "cc")
print(harrier["model"], harrier["engine CC"], "cc")

nano 1000 cc
Harrier 2000 cc

In [71]:
nano

{'company': 'Tata',
 'model': 'nano',
 'engine CC': 1000,
 'width': 2500,
 'length': 4000,
 'weight': 2000,
 'top speed': 80,
 'fuel type': ['petorl']}

In [72]:
print(nano["top speed"])

80

In [75]:
x = 10

x += 20 # x = x + 20
print(x)

# nano["top speed"] += 20
# nano["top speed"] = nano["top speed"] + 20

30

In [78]:
nano["top speed"] += 20
pprint(nano)

{'company': 'Tata',
 'engine CC': 1000,
 'fuel type': ['petorl'],
 'length': 4000,
 'model': 'nano',
 'top speed': 140,
 'weight': 2000,
 'width': 2500}

In [79]:
data = [
    ["Rahul", 80, 90, 70],
    ["Ranjeet", 80, 79, 77],
    ["siya", 56, 78, 59],
    ["natasha", 80, 78, 76],
    ["harry", 80, 90, 10]
]

In [81]:
print(data)

[['Rahul', 80, 90, 70], ['Ranjeet', 80, 79, 77], ['siya', 56, 78, 59], ['natasha', 80, 78, 76], ['harry', 80, 90, 10]]

In [82]:
from pprint import pprint
# pretty print

In [83]:
pprint(data)

[['Rahul', 80, 90, 70],
 ['Ranjeet', 80, 79, 77],
 ['siya', 56, 78, 59],
 ['natasha', 80, 78, 76],
 ['harry', 80, 90, 10]]

Library Management application 


    title           author       isbn       price  quantity  section
    
    wings on fire   APJ Kalam    ABCD1234   200       20        G-1
    awsome python   Guido Van    XYZP2343   500       100       CS-2
    ...

In [84]:
books = [
    ["wings on fire", "APJ Kalam", "ABCD1234", 200, 20, "G-1"],
    ["awesome python", "Guido Van Rossum", "XYZP2343", 500, 100, "CS-2"],
    # ...
]

In [85]:
new_book = ["hands on ML", "sachin", "QWERY123", 5000, 20, "CS-4"]
books.append(new_book)

In [86]:
pprint(books)

[['wings on fire', 'APJ Kalam', 'ABCD1234', 200, 20, 'G-1'],
 ['awesome python', 'Guido Van Rossum', 'XYZP2343', 500, 100, 'CS-2'],
 ['hands on ML', 'sachin', 'QWERY123', 5000, 20, 'CS-4']]

In [89]:
books[0][4] += 30

In [90]:
pprint(books)

[['wings on fire', 'APJ Kalam', 'ABCD1234', 200, 50, 'G-1'],
 ['awesome python', 'Guido Van Rossum', 'XYZP2343', 500, 100, 'CS-2'],
 ['hands on ML', 'sachin', 'QWERY123', 5000, 20, 'CS-4']]

Library Management application 


    title           author       isbn       price  quantity  section
    
    wings on fire   APJ Kalam    ABCD1234   200       20        G-1
    awsome python   Guido Van    XYZP2343   500       100       CS-2
    ...

In [91]:
data = [
    {"title": "wings on fire", "author": "APJ Kalam", "isbn": "ABCD1234",
     "price": 200, "quantity": 20, "section": "G-1"},
    {"title": "awesome python", "author": "Guido Van Rossum", "isbn": "XYZP2343",
    "price": 500, "quantity": 100, "section": "CS-2"}
]

In [92]:
record = {"title": "Hands on ML", "author": "sachin", "isbn": "QWERTY123", 
         "price": 5000, "quantity": 25}
data.append(record)

In [93]:
pprint(data)

[{'author': 'APJ Kalam',
  'isbn': 'ABCD1234',
  'price': 200,
  'quantity': 20,
  'section': 'G-1',
  'title': 'wings on fire'},
 {'author': 'Guido Van Rossum',
  'isbn': 'XYZP2343',
  'price': 500,
  'quantity': 100,
  'section': 'CS-2',
  'title': 'awesome python'},
 {'author': 'sachin',
  'isbn': 'QWERTY123',
  'price': 5000,
  'quantity': 25,
  'title': 'Hands on ML'}]

In [95]:
data[0]["quantity"] += 30

In [96]:
pprint(data)

[{'author': 'APJ Kalam',
  'isbn': 'ABCD1234',
  'price': 200,
  'quantity': 50,
  'section': 'G-1',
  'title': 'wings on fire'},
 {'author': 'Guido Van Rossum',
  'isbn': 'XYZP2343',
  'price': 500,
  'quantity': 100,
  'section': 'CS-2',
  'title': 'awesome python'},
 {'author': 'sachin',
  'isbn': 'QWERTY123',
  'price': 5000,
  'quantity': 25,
  'title': 'Hands on ML'}]

In [ ]:
data = {
    "G-1": [
        {"title": "wings on fire"}
    ],
    "CS-1": [
        {}
    ]
}

In [97]:
data = {
    "name": "sachin",
    "age": 27
}

In [98]:
data["city"] = "jaipur"
data["profession"] = "data scientist"

In [99]:
print(data)

{'name': 'sachin', 'age': 27, 'city': 'jaipur', 'profession': 'data scientist'}

In [100]:
data["name"] = "sachin yadav"

In [101]:
print(data)

{'name': 'sachin yadav', 'age': 27, 'city': 'jaipur', 'profession': 'data scientist'}

In [102]:
del data["profession"]

In [103]:
print(data)

{'name': 'sachin yadav', 'age': 27, 'city': 'jaipur'}

#### lists, dictionary, strings, numbers

#### if-else, loop, functions

#### stats

    any query ?