In [2]:
result = """"
   x = %d
   y = %d
   %d / %d = '%.2f'
"""
x = int(input("X: "))
y = int(input("Y: "))
r = x / y
print(result%(x, y, x, y, r))

X: 10
Y: 20
"
   x = 10
   y = 20
   10 / 20 = '0.50'

In [3]:
name ="   adnan afzal    "
x = 22
y = 7

result = f"""
hello {name.strip().titile()}
    x = {x}
    y = {y}
    {x}/{y}{x/y}
"""

AttributeError: 'str' object has no attribute 'titile'

In [4]:
i = 1
while i <= 21:
    s = "*"*i
    print(s.center(21,"-"))
    i = i+2

----------*----------
---------***---------
--------*****--------
-------*******-------
------*********------
-----***********-----
----*************----
---***************---
--*****************--
-*******************-
*********************

In [5]:
i = 1
while i <= 21:
    s = "*"*i
    print(f"{s:-^21}")
    i = i+2

----------*----------
---------***---------
--------*****--------
-------*******-------
------*********------
-----***********-----
----*************----
---***************---
--*****************--
-*******************-
*********************

In [7]:
result = """"
    x = {}
    y = {}
    {} + {} = {:.2f}
"""
x= 22
y = 7
r = x/y
print(result.format(x , y, x, y, r))

"
    x = 22
    y = 7
    22 + 7 = 3.14

In [8]:
result = """"
    x = {0}
    y = {1}
    {0} + {1} = {2:.2f}
"""
x= 22
y = 7
r = x/y
print(result.format(x , y, r))
#                   0   1  2

"
    x = 22
    y = 7
    22 + 7 = 3.14

In [9]:
data = ["adnan afzal", 27, "India", 2000, ["hindi", "English"]]

In [10]:
print(data)

['adnan afzal', 27, 'India', 2000, ['hindi', 'English']]

In [14]:
print(data[4,1])

TypeError: list indices must be integers or slices, not tuple

In [16]:
print(data[4][1])

English

In [17]:
names = ["hari", "manish", "adyy"]
print(names.sort())

None

In [18]:
nums = []
nums.append(10)
nums.extend([40, 20, 60])
nums.sort()
nums.insert(2,100)
nums.pop()
print(nums)
old = nums
nums.clear()
print(nums)
print(old)

[10, 20, 100, 40]
[]
[]

In [3]:
s = "hello world!"
us = s.upper()
ls = s.lower()
ss = s.split()
print(us)
print(ls)
print(ss)

HELLO WORLD!
hello world!
['hello', 'world!']

In [4]:
print(dir(s)) # print all the data types available to the string s

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [5]:
help(s.title)  # specifies abt  the title method

Help on built-in function title:

title() method of builtins.str instance
    Return a version of the string where each word is titlecased.

    More specifically, words start with uppercased characters and all remaining
    cased characters have lower case.

In [7]:
s = "hey python is an awsome language"
ts = s.title()
print(ts) # every letter of the string becomes upper case

Hey Python Is An Awsome Language

#### string formatting
if we want build a string by replacing variables in it

In [ ]:
result = """"
    x = ? 
    y = ?
    x + y = ?
""""
# thera re three ways of storing variables in ?

In [16]:
# first way of string  formatting this is the oldest way and works  in all languages
result = """
    x = %d 
    y = %d
    %d / %d = %10.2f
"""


x = int(input("x: "))
y = int(input("Y: "))

r = x / y
print(result%(x, y, x, y, r))

x: 22
Y: 7

    x = 22
    y = 7
    22 / 7 =       3.14

In [17]:
# second way of formatting string
x = int(input("x: "))
y = int(input("Y: "))
r = x / y
result = """
    x = %d 
    y = %d
    %d / %d = %10.2f
"""%(x, y, x, y, r)
print(result)

x: 22
Y: 7

    x = 22
    y = 7
    22 / 7 =       3.14

Two ideal ways for string formatting in python:-
i. pre -> define variable first and define template string afterwards
ii, post -> we can define template first and whenever we got out data (variable) we can fill string(format)

In [25]:
# pre method or fstring method
name = "      md adnan afzal      "
x = 22
y = 7
result = f"""
    hello {name.strip().title()}
    x = {x}
    y = {y}
    {x} / {y} = '{x/y:<10.2f}' 
"""
# left justification < and right justification > ans center justification ^
print(result)

    hello Md Adnan Afzal
    x = 22
    y = 7
    22 / 7 = '3.14      ' # left justification < and right justification >

:< -> left justification str.ljust(width)
:>> ->right justification str.rjust(width)
:^ -> center justification str.center(width)

In [29]:
name = "Adnan Afzal"
print(name.center(80, "_"))

__________________________________Adnan Afzal___________________________________

In [38]:
var = 1
while var <= 1024:
    print(f"{var:>5} *{var:>5} = {var*var:7}")
    var = var*2

    1 *    1 =       1
    2 *    2 =       4
    4 *    4 =      16
    8 *    8 =      64
   16 *   16 =     256
   32 *   32 =    1024
   64 *   64 =    4096
  128 *  128 =   16384
  256 *  256 =   65536
  512 *  512 =  262144
 1024 * 1024 = 1048576

In [43]:
var = 1
while var <= 1024:
    var = str(var)
    print(f"{var.zfill(5)} *{var.zfill(5)} = {var.zfill(7)}")
    var = int(var)
    var = var*2

00001 *00001 = 0000001
00002 *00002 = 0000002
00004 *00004 = 0000004
00008 *00008 = 0000008
00016 *00016 = 0000016
00032 *00032 = 0000032
00064 *00064 = 0000064
00128 *00128 = 0000128
00256 *00256 = 0000256
00512 *00512 = 0000512
01024 *01024 = 0001024

In [45]:
i = 1
while i <= 10: 
    print("*"*i)
    i = i + 1

*
**
***
****
*****
******
*******
********
*********
**********

In [49]:
i = 1
while i <= 10: 
    s = "*"*i
    print(s.rjust(10))
    i = i + 1

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [53]:
i = 1
while i <= 21: 
    s = "*"*i
    print(s.center(21, "-"))
    i = i + 2

----------*----------
---------***---------
--------*****--------
-------*******-------
------*********------
-----***********-----
----*************----
---***************---
--*****************--
-*******************-
*********************

In [ ]:
app = """
to 
headmaster
{}
dear sir/mam
due