# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv("Salaries.csv")

** Check the head of the DataFrame. **

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [5]:
x = sal["BasePay"].mean()
x

66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [6]:
y = sal["OvertimePay"].max()
y

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [7]:
sal[sal["EmployeeName"] == "JOSEPH DRISCOLL"]["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [8]:
x = sal.at["JOSEPH DRISCOLL","BasePay"] 
y = sal.at["JOSEPH DRISCOLL","OvertimePay"] 
z = sal.at["JOSEPH DRISCOLL","OtherPay"] 
x = x+y+z
x

KeyError: 'JOSEPH DRISCOLL'

** What is the name of highest paid person (including benefits)?**

In [ ]:
sal["Sum"] = sal["BasePay"] +sal["OvertimePay"]+ sal["OtherPay"]
sal["Sum"]
sal["Sum"].max()

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
sal["Sum"] = sal["BasePay"] +sal["OvertimePay"]+ sal["OtherPay"]
sal["Sum"]
sal["Sum"].min()

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [ ]:
sal["Year"].mean()

** How many unique job titles are there? **

In [ ]:
sal["JobTitle"].nunique()

** What are the top 5 most common jobs? **

In [ ]:
sal["JobTitle"].value_counts().sort_values().tail(5)

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [ ]:
sum(sal[sal["Year"] == 2013]["JobTitle"].value_counts()==1)

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [ ]:
sal[sal["JobTitle"].str.contains("Chief",case=False)]["JobTitle"].count()

627

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [ ]:
sal["title_len"] = sal["JobTitle"].apply(len)

In [ ]:
sal[["title_len","TotalPayBenefits"]].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!